.bg-light {
  background-color: #071E2D !important;
}

.navbar-nav .nav-item > .nav-link, .navbar-brand {
  color: #fff;
}

.navbar > .container {
  align-items: center;
  -webkit-align-items: center;
}
